<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SelfHotelCheckInMapper">
    <resultMap type="SelfHotelCheckIn" id="SelfHotelCheckInResult">
        <result property="id"    column="id"    />
        <result property="orderId"    column="order_id"    />
        <result property="cnId"    column="cn_id"    />
        <result property="name"    column="visitors_name"    />
        <result property="phoneNum"    column="phone_number"    />
        <result property="startDate"    column="start_day"    />
        <result property="endDate"    column="end_day"    />
        <result property="type"    column="type_room"    />
        <result property="state"    column="state_room"    />
        <result property="roomNum"    column="room_id"    />
    </resultMap>
    <sql id="selectSelfHotelCheckInVo">
        select distinct (self_hotel_orders.id), self_hotel_orders.order_id, self_hotel_orders.cn_id,self_hotel_orders.room_id,self_hotel_orders.start_day,self_hotel_orders.end_day,self_hotel_orders.type_room
        from self_hotel_orders left join self_hotel_rooms
    </sql>

    <select id="checkInSelfHotelRooms" resultType="java.lang.String">
        select self_hotel_rooms.state_room
        from self_hotel_rooms
        where (self_hotel_rooms.state_room = "已预约" or self_hotel_rooms.state_room = "已入住") and self_hotel_rooms.room_date=#{date}
    </select>


    <select id="selectSelfHotelCheckInList" parameterType="SelfHotelCheckIn" resultMap="SelfHotelCheckInResult">
        <include refid="selectSelfHotelCheckInVo"/>
        on self_hotel_orders.order_id=self_hotel_rooms.order_id
        where self_hotel_orders.cn_id = #{cnId} and self_hotel_rooms.state_room="已预约"
    </select>

    <update id="checkInSelfHotelCheckInById" parameterType="SelfHotelCheckIn">
        update self_hotel_rooms
        set state_room="已入住"
        where order_id = #{id}
    </update>


</mapper>
