<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SelfHotelOrdersMapper">
    
    <resultMap type="SelfHotelOrders" id="SelfHotelOrdersResult">
        <result property="id"    column="id"    />
        <result property="orderId"    column="order_id"    />
        <result property="cnId"    column="cn_id"    />
    </resultMap>

    <sql id="selectSelfHotelOrdersVo">
        select id, order_id, cn_id from self_hotel_orders
    </sql>

    <select id="selectSelfHotelOrdersList" parameterType="SelfHotelOrders" resultMap="SelfHotelOrdersResult">
        <include refid="selectSelfHotelOrdersVo"/>
        <where>  
            <if test="orderId != null "> and order_id like concat('%', #{orderId}, '%')</if>
            <if test="cnId != null  and cnId != ''"> and cn_id like concat('%', #{cnId}, '%')</if>
        </where>
    </select>
    
    <select id="selectSelfHotelOrdersById" parameterType="Long" resultMap="SelfHotelOrdersResult">
        <include refid="selectSelfHotelOrdersVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSelfHotelOrders" parameterType="SelfHotelOrders" useGeneratedKeys="true" keyProperty="id">
        insert into self_hotel_orders
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null">order_id,</if>
            <if test="cnId != null">cn_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null">#{orderId},</if>
            <if test="cnId != null">#{cnId},</if>
         </trim>
    </insert>

    <update id="updateSelfHotelOrders" parameterType="SelfHotelOrders">
        update self_hotel_orders
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="cnId != null">cn_id = #{cnId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSelfHotelOrdersById" parameterType="Long">
        delete from self_hotel_orders where id = #{id}
    </delete>

    <delete id="deleteSelfHotelOrdersByIds" parameterType="String">
        delete from self_hotel_orders where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>